
h1{
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
    text-transform: lowercase;
    
}
img{
    width: 30%;
    margin: calc(10%/6);
}
button{
    width:50%;
    margin-left:25%;
    margin-right:25%;
    background: none;
    color: #070607;
    border-color: #000000;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
}
button:hover{
    border-color:#020202;
    color:#000000;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
}
